<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
  http://www.springframework.org/schema/beans/spring-beans.xsd
  http://www.springframework.org/schema/context
  http://www.springframework.org/schema/context/spring-context.xsd"
        >


    <bean id="myService" class="no.osthus.services.MyService" />
    <bean id="randomService" class="no.osthus.services.RandomService" />
    <!--<bean class="no.osthus.rest.GlobalExceptionMapper">-->
        <!--<constructor-arg ref="randomService" />-->
    <!--</bean>-->

    <bean class="no.osthus.rest.MyResource">
        <constructor-arg ref="myService" />
    </bean>


</beans>